body {
    font-family: Arial, sans-serif;
    /* text-align: center; */

}

#button-container {
    text-align: center;
    /* Center the buttons horizontally */
}

.button {
    width: 49%;
    height: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    margin: 5px;
    align-items: center;
    font-size: 30px;
}

.answers {
    margin: auto;
    width: 98%;
    padding: 10px;
}

.answers {
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    padding: 10px;
}

#ans1 {
    background-color: #3498db;
}

#ans2 {
    background-color: orange;
}

#ans3 {
    background-color: #2ecc71;
}

#ans4 {
    background-color: #e74c3c;
}

#ans1:hover {
    background-color: #246896;
}

#ans2:hover {
    background-color: rgb(144, 94, 0);
}

#ans3:hover {
    background-color: #1f8b4c;
}

#ans4:hover {
    background-color: #8b2f24;
}

#question {
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 100px;
}

.nav #timerDisplay {
    color: #7a7a7a;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: inline-block;
    text-align: right;
    overflow: hidden;

}

.nav #timerDisplay:hover {
    color: #474747;
}

.nav #rem-question {
    display: block;
    color: #7a7a7a;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    float: right;
    display: inline-block;
}

.nav #q-left {
    display: block;
    color: #7a7a7a;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    /* float: right; */
    text-align: right;
    display: inline;
}