body {
    font-family: Arial, sans-serif;
    /* text-align: center; */

}

#button-container {
    text-align: center;
    /* Center the buttons horizontally */
}

.button {
    width: 49%;
    height: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    margin: 5px;
    align-items: center;
    font-size: 30px;
}

.answers {
    margin: auto;
    width: 98%;
    padding: 10px;
}

.answers {
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    padding: 10px;
}

#ans1 {
    background-color: #3498db;
}

#ans2 {
    background-color: orange;
}

#ans3 {
    background-color: #2ecc71;
}

#ans4 {
    background-color: #e74c3c;
}

#ans1:hover {
    background-color: #246896;
}

#ans2:hover {
    background-color: rgb(144, 94, 0);
}

#ans3:hover {
    background-color: #1f8b4c;
}

#ans4:hover {
    background-color: #8b2f24;
}

#ans1:active {
    background-color: #18425e;
}

#ans2:active {
    background-color: rgb(87, 57, 0);
}

#ans3:active {
    background-color: #145830;
}

#ans4:active {
    background-color: #4d1a14;
}

#question {
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 100px;
}

.nav #timerDisplay {
    position: relative;
    color: #7a7a7a;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    text-align: right;
    display: inline;
    left: 560%;
}

.nav #timerDisplay:hover {
    color: #474747;
}

.nav {
    display: inline-block;
    text-align: center;
    align-items: center;
    position: relative;
}

.pages {
    display: inline;
    text-align: right;
    align-items: right;
    position: relative;
}

.header {
    display: inline-block;
    position: relative;
    font-size: 25px;
    font-weight: 600;
    /* background-image: linear-gradient(to left, #553c9a, #b393d3); */
    color: darkgreen;
    background-clip: text;
    -webkit-background-clip: text;
    right: 6%;
}

.pages #next-page {
    position: relative;
    width: 10%;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin: 5px;
    align-items: center;
    font-size: 25px;
    background-color: #1f8b4c;
    left: 80%;
}

.pages #previous-page {
    position: relative;
    width: 10%;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin: 5px;
    align-items: center;
    font-size: 25px;
    background-color: #3498db;
    margin-right: 10px;
    left: 59%;
}

.pages #next-page:hover {
    background-color: #145b32;
}

.pages #previous-page:hover {
    background-color: #23628d;
}

.pages #next-page:active {
    background-color: #0c361d;
}

.pages #previous-page:active {
    background-color: #13354b;
}

#ans1:disabled {
    background-color: #215a80;
}

#ans2:disabled {
    background-color: rgb(149, 97, 0);
}

#ans3:disabled {
    background-color: #1b7842;
}

#ans4:disabled {
    background-color: #7a2a21;
}