body {
    margin-left: 5;
    margin-right: 5;
    font-family: Arial, sans-serif;
}

#button-container {
    text-align: center;
    /* Center the buttons horizontally */
}

.button {
    width: 49%;
    height: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    margin: 5px;
    align-items: center;
    font-size: 30px;
}

.answers {
    margin: auto;
    width: 98%;
    padding: 10px;
}

.answers {
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    padding: 10px;
}

#ans1 {
    background-color: #3498db;
}

#ans2 {
    background-color: orange;
}

#ans3 {
    background-color: #2ecc71;
}

#ans4 {
    background-color: #e74c3c;
}

#ans1:hover {
    background-color: #246896;
}

#ans2:hover {
    background-color: rgb(144, 94, 0);
}

#ans3:hover {
    background-color: #1f8b4c;
}

#ans4:hover {
    background-color: #8b2f24;
}

#question {
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 100px;
}

.timer #timerDisplay {
    display: block;
    color: #7a7a7a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

.timer #timerDisplay:hover {
    color: #474747;
}